<head>
	<script src="http://code.jquery.com/jquery-2.0.1.js"></script>
	<script src="{{ app.request.baseUrl ~ '/modlr.js' }}"></script>
	<script src="{{ app.request.baseUrl ~ '/assets/widgets_scripts' }}"></script>
	<script>window.baseUrl = "{{ app.request.baseUrl }}"</script>
	<link rel="stylesheet" href="{{ app.request.baseUrl ~ '/assets/widgets_css' }}" />
</head>
<h3>Todo application</h3>

<div style="width:300px">
	{% include 'notification/widget.twig' %}
	<div>
		{{ render(app.request.baseUrl ~ '/form') }}
	</div>
	<div>
		{{ render(app.request.baseUrl ~ '/list') }}
	</div>
</div>