/* todo list less */
.b-todo-list {
	&__title {
		float: left;
		width: 210px;
	}
}

/* todo list less */
.b-notofication {
	display: none;
	border:1px solid blue;
	border-radius: 3px;
}

/* todo form less */

