<div class="m-module" data-module="todo_form">
	<form method="post" class="data-todo-form">
		<input type="text" class="data-todo-title" name="todo" />
		<input type="submit" value="add" />
	</form>
</div>