<div class="m-module b-todo-list" data-module="todo_list">
	{% for todo in todos %}
		<div>
			<div class="b-todo-list__title">{{ todo.title }}</div>
			<a href="" data-url="{{ app.request.baseUrl ~ '/delete/'}}{{loop.index-1}}" class="b-todo-list__remove-link data-delete-link">x</a>
		</div>
	{% endfor %}
</div>